.App {
  text-align: center;
}

:root {
  background-color: #101010;
  color: #e0e0e0;
}

.Heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #3a3a3a;
}

.Heading > * {
  flex: 1;
}

#rightHead, #leftHead {
  display: flex;
  align-items: center;
}

#rightHead {
  justify-content: end;
}

#leftHead {
  justify-content: start;
}

.Board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: clamp(5px, 2vh, 30px);
}

.BoardRow {
  flex: 1;
  display: flex;
}

.BoardCell {
  border: thin solid #e0e0e0;
  width: clamp(60px, 6.5vh, 80px);
  height: clamp(60px, 6.5vh, 80px);
  margin: 5px;
}
