.App {
  text-align: center;
}

:root {
  --dark-gray: #3a3a3a;
  --light-gray: #707070;
  --black: #101010;
  --white: #e0e0e0;
  background-color: var(--black);
  color: var(--white);
}

.Heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--dark-gray);
  height: 95px;
}

.Heading > * {
  flex: 1;
}

#rightHead, #leftHead {
  display: flex;
  align-items: center;
  margin: 0 clamp(0px, 1vw, 15px);
}

#rightHead {
  justify-content: end;
}

#leftHead {
  justify-content: start;
}

.Board, .DisplayKeyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Board {
  margin: clamp(10px, 3vh, 30px) 0;
}

.BoardRow, .KeyboardRow {
  flex: 1;
  display: flex;
}

.BoardCell {
  font-size: clamp(32px, 3vw, 40px);
  border: thin solid var(--dark-gray);
  width: clamp(45px, 6.5vh, 60px);
  height: clamp(45px, 6.5vh, 60px);
  margin: 5px;
}

button.bgGreen, .bgGreen {
  background-color: #538d4e;
}

button.bgYellow, .bgYellow {
  background-color: #b59f3b;
}

button.bgGray, .bgGray {
  background-color: var(--dark-gray);
}

.DisplayKey {
  background-color: gray;
  margin: 3px;
  font-size: clamp(22px, 2vw, 36px);
  min-width: clamp(30px, 2vw, 45px);
  border-radius: 5px;
  color: var(--white);
  border: none;
}

.DisplayKey:active, button:active {
  background-color: var(--light-gray);
}

.DisplayKey#Enter {
  font-size: clamp(16px, 1.5vw, 24px);
}

button {
  background-color: var(--dark-gray);
  border: thin solid var(--white);
  border-radius: 3px;
  color: var(--white);
  font-size: clamp(20px, 2.5vw, 28px);
}

a, a:visited {
  color: var(--white);
  font-size: 20px;
}

.Alert {
  margin: clamp(5px, 3vh, 15px) 0 0 0;
  min-height: 24px;
}

.OptionsMenu {
  position: fixed;
  top: 90px;
  right: 5px;
  background-color: var(--dark-gray);
}

#lengthControls {
  border: thin solid var(--white);
  border-radius: 3px;
  padding: 3px;
  margin-top: 3px;
  font-size: clamp(16px, 2.5vw, 22px);
}

#lengthControls > button {
  margin: 0 5px;
}
