.App {
  text-align: center;
}

:root {
  background-color: #101010;
  color: #e0e0e0;
}

.Heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #3a3a3a;
}

.Heading > * {
  flex: 1;
}

#rightHead, #leftHead {
  display: flex;
  align-items: center;
}

#rightHead {
  justify-content: end;
}

#leftHead {
  justify-content: start;
}

.Board, .DisplayKeyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Board {
  margin: clamp(10px, 3vh, 30px) 0;
}

.BoardRow, .KeyboardRow {
  flex: 1;
  display: flex;
}

.BoardCell {
  border: thin solid #e0e0e0;
  width: clamp(60px, 6.5vh, 80px);
  height: clamp(60px, 6.5vh, 80px);
  margin: 5px;
}

.bgGreen {
  background-color: #107010;
}

.bgYellow {
  background-color: #909010;
}

.bgGray {
  background-color: #3a3a3a;
}

.DisplayKey {
  background-color: gray;
  margin: 3px;
  font-size: clamp(24px, 2vw, 38px);
  min-width: clamp(30px, 2vw, 45px);
  border-radius: 5px;
  border: thin solid gray;
  color: #e0e0e0;
}

.DisplayKey#Enter {
  font-size: clamp(16px, 1.5vw, 24px);
}
